@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file or as inline styles */
.text-muted-foreground {
    color: #9DB2BF;
}

.bg-background {
    background-color: #27374D;
}

/* Custom Scrollbar Styles */
.custom-scrollbar {
    scrollbar-width: none;
    /* For Firefox */
}

/* For WebKit-based browsers */
.custom-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0;
    border: none;
}